#background{
	-fx-background-color: #1A237E;
}

.text{
	-fx-font-family: 'Roboto';
	-fx-text-fill: #FFFFFF;
}

#title{
	-fx-font-size: 34px;
}

.word{
	-fx-font-weight: normal;
}

#button{
	-fx-background-radius: 50%;
	-fx-graphic: url("../img/mic_36px.png");
	-fx-alignment: CENTER;
}